<template>
    <div class="container py-5 px-4">
        <div class="rounded-lg overflow-hidden shadow bg-white">
            <router-view />
        </div>
    </div>
</template>

<script>
import employees from '../../assets/employees.json'

export default {
    name: 'AppLayout',
    methods: {
        getUsers() {
            var emp = employees.filter((e) => e.manager_id === 0).map((e) => {
                e.children = this.getChildren(employees, e.id);
                return e;
            });
            this.$store.dispatch('user/addData', {
                allData: employees,
                data: emp
            });
        },
        getChildren(emps, id) {
            return emps.filter((e) => e.manager_id === id).map((e) => {
                e.children = this.getChildren(emps, e.id);
                return e;
            });
        }
    },
    created() {
        this.getUsers();
    }
}
</script>
