<template>
    <div class="row">
        <!-- Users box-->
        <div class="col-5 px-0">
            <div class="bg-gray px-4 py-2 bg-light">
                <p class="h5 mb-0 py-1">Employees</p>
            </div>
            <div class="list-box">
                <ul class="list-group rounded-0">
                    <UserTreeView v-for="(user, index) in users" :key="index" :user="user" :userId="this.userId" @update-active-user="updateActiveUser" />
                </ul>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-7 px-0" v-if="activeUser">
            <div class="px-4 py-5 list-box">
                <div class="body m-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right">
                                <img :src="activeUser.profile_pic" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4>{{ activeUser.first_name }} {{ activeUser.last_name }}</h4>
                            <span class="job_post">{{ activeUser.email }}</span>

                            <div class="text-left m-t-40">
                                <div><strong>Gender :</strong> <span class="m-l-15">{{ activeUser.gender }}</span></div>
                                <div><strong>Address :</strong> <span class="m-l-15">{{ activeUser.street_address
                                }}</span></div>
                                <div><strong>City :</strong> <span class="m-l-15">{{ activeUser.city }}</span></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="pt-3">{{ activeUser.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray px-4 py-2 bg-light text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary"
                    @click="$router.push(`/${activeUser.username}`)">View</button>
                <button type="button" id="submit" name="submit" class="btn btn-secondary ml-4"
                    @click="$router.push(`/${activeUser.username}/edit`)">Edit</button>
                <button type="button" id="submit" name="submit" class="btn btn-primary ml-4"
                    @click="deleteUser(activeUser.id)">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
import UserTreeView from '../components/UserTreeView.vue'

export default {
    name: 'HomeView',
    components: {
        UserTreeView
    },
    data() {
        return {
            userId: null
        }
    },
    computed: {
        users() {
            return this.$store.getters['user/getData'];
        },
        activeUser() {
            return this.$store.getters['user/getUserID'](this.userId)
        },
        isActiveUser() {
            return (userId) => userId === this.userId
        },
    },
    methods: {
        updateActiveUser(userId) {
            this.userId = userId
        },
        deleteUser(userId) {
            this.$store.dispatch('user/deleteUser', userId)
        }
    }
}
</script>