<template>
    <div class="row">
        <div class="col-12 px-0" v-if="user">
            <div class="px-4 py-5 list-box">
                <div class="body m-5">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12">
                            <div class="profile-image float-md-right">
                                <img :src="user.profile_pic" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-12">
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                            <span class="job_post">{{ user.email }}</span>

                            <div class="text-left m-t-40">
                                <div><strong>Gender :</strong> <span class="m-l-15">{{ user.gender }}</span></div>
                                <div><strong>Address :</strong> <span class="m-l-15">{{ user.street_address
                                }}</span></div>
                                <div><strong>City :</strong> <span class="m-l-15">{{ user.city }}</span></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="pt-3">{{ user.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h1>User Not Fount</h1>
        </div>
    </div>
</template>

<script>

export default {
    name: 'UserView',
    computed: {
        user() {
            const name = this.$route.params.name
            return this.$store.getters['user/getDataByUserName'](name);
        }
    }
}
</script>
