<template>
    <div class="row">
        <div class="col-12 px-0" v-if="user">
            <div class="card-body p-5">
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" class="form-control" id="first_name" v-model="user.first_name" placeholder="First name">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name" v-model="user.last_name" placeholder="Last name">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" v-model="user.email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="username">User name</label>
                            <input type="text" class="form-control" id="username" v-model="user.username" placeholder="User name">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="street_address">Address</label>
                            <input type="text" class="form-control" id="street_address" v-model="user.street_address" placeholder="Address">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" v-model="user.city" placeholder="City">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="bio">BIO</label>
                            <textarea class="form-control" id="bio" name="bio" v-model="user.bio" placeholder="BIO"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-5">
                        <div class="text-right">
                            <button type="button" id="submit" name="submit" class="btn btn-secondary" @click="$router.push('/')" >Cancel</button>
                            <button type="button" id="submit" name="submit" class="btn btn-primary ml-4" @click="updateData" >Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h1>User Not Fount</h1>
        </div>
    </div>
</template>

<script>

export default {
    name: 'UserEdit',
    data() {
        return {
            user: null,
        }
    },
    methods: {
        getUser() {
            const name = this.$route.params.name
            this.user = this.$store.getters['user/getDataByUserName'](name);
        },
        updateData() {
            console.log(this.user);
        }
    },
    created() {
        this.getUser();
    }
}
</script>
