<template>
    <div>
        <a class="list-group-item list-group-item-action rounded-0" :class="{
            'active text-white': userId === user.id,
            'list-group-item-light': userId !== user.id,
        }">
            <div class="media">
                <span v-if="isFolder" @click="toggle"> [{{ isOpen ? '-' : '+' }}]</span>
                <img :src="user.profile_pic" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4" @click="$emit('update-active-user', user.id)">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
                        <small class="small font-weight-bold">{{ user.children.length }}</small>
                    </div>
                    <p class="font-italic mb-0 text-small" :class="{ 'text-muted': userId !== user.id }">{{
                        user.email }}</p>
                </div>
            </div>
        </a>
        <ul v-show="isOpen" v-if="isFolder">
            <UserTreeView v-for="(child, index) in user.children" :key="index" :user="child" :userId="this.userId" @update-active-user="updateActiveUser" />
        </ul>
    </div>
</template>

<script>

export default {
    name: 'UserTreeView',
    props: {
        user: Object,
        userId: Number
    },
    data() {
        return {
            isOpen: false
        }
    },
    computed: {
        isFolder() {
            return this.user.children && this.user.children.length
        }
    },
    methods: {
        toggle() {
            if (this.isFolder) {
                this.isOpen = !this.isOpen
            }
        },
        updateActiveUser(id) {
            this.$emit('update-active-user', id)
        }
    }
}
</script>
