<template>
    <router-view />
</template>

<script>

export default {
    name: 'App',
}
</script>

<style>
body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #575c5b 0%, #9FACE6 100%);
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.list-box {
    height: 700px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.float-md-right {
    float: right !important;
}

.profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.text-right {
    text-align: right !important;
}
.form-group {
    margin-bottom: 1rem;
}
</style>